flask
flask_sqlalchemy
flask_login
flask-Session
celery
redis
ultralytics
python-dotenv
flask_cors
supabase
opencv-python-headless

google-api-python-client
google-auth-httplib2
google-auth-oauthlib

Pillow
gunicorn

torch
torchvision